<div th:fragment="card">
    <div class="card bg-light" style="width: 15rem;">
        <img src="/images/frog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <strong th:text="#{review.title}"></strong>
                <span th:text="${review.title}"></span>
            </h5>
            <div class="card-text">
                <span th:text="#{review.author}"></span>
                <a th:href="'/user/' + ${review.authorName}" th:text="${review.authorName}"></a>
            </div>
            <div class="card-likes">
                <button class="btn btn-light btn-sm" type="button" th:onclick="'javascript:likeAction(\''+${review.id}+'\');'">
                    <i th:id="'like-button' + ${review.id}" th:class="${review.liked} ? 'fa-heart fa-solid' : 'fa-heart fa-regular'"></i>
                    <span th:id="'likes-amount' + ${review.id}" th:text="${review.likes}"></span>
                </button>
            </div>
            <div class="card-buttons text-center">
                <a th:href="'/reviews/'+${review.id}" class="btn btn-primary">Read</a>
            </div>
        </div>
    </div>
</div>