<div th:fragment="rating" class="rating">
    <div class="rating-bar">
        <div class="rating-items">
            <input type="radio" class="rating-item" value="1" name="rating"/>
            <input type="radio" class="rating-item" value="2" name="rating"/>
            <input type="radio" class="rating-item" value="3" name="rating"/>
            <input type="radio" class="rating-item" value="4" name="rating"/>
            <input type="radio" class="rating-item" value="5" name="rating"/>
        </div>
    </div>
    <div class="rating-value">
    </div>
</div>